@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600&family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Albert',sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

nav {
    border-right: 2px solid #777;
    background-color: #eee;
    height: 100vh;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 10;
    opacity: 0.7;
}

nav header{
    padding: 10px;
}

nav a {
    border-top: 1px solid #777;
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
}
nav a:hover{
    background-color: #777;
}

main {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

section{
    padding: 20px;
    line-height: 1.5;
    position: relative;
    z-index: 10;
}

header {
    font-size: 24px;
    font-weight: 600;
}
button{
    display: grid;
    gap: 20px;
    font-size: 22px;
    margin-top: 70px;
    margin-left: 70px;
    text-align: center;
    width: 150px;
    height: auto;
    border: 1px solid #777;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}
button:hover{
    background-color: #777;
}

footer img{
    display: flexbox;
    flex-direction: column;
    margin-top: 410px;
    margin-left: 60px;
    width: 40px;
    align-items: center;
    cursor: pointer;
    margin-left: 60px;
}


@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    nav {
        border-right: none;
        border-bottom: 2px solid #777;
        height: 200px;
        overflow-y: scroll;
        width: 100%;
    }

    main{
        height: auto;
        width: 100%;
    }
}